target/
!.mvn/wrapper/maven-wrapper.jar
.java-version
**/target/classes
created-site
.idea/sonarlint/issuestore/*
.idea/sonarlint/issuestore/index.pb

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
/.idea
/.idea/
.idea/**
.idea/*.*
*.iws
**/*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/build/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### Mac specific
**/.DS_Store
